.heading {
    margin-top: 2rem;
}

.headingPortfolio {
    margin-bottom: 0;
}

.subHeading {
    display: inline-block;
    margin-bottom: 12px;
}

.portfolioImage {
    width: 150px;
    border-radius: 32px;
}

.comingSoon {
    margin-top: 32px;
}

.profileText {
    padding-top: 12px;
    font-size: 1.5rem;
    font-weight: bold;
}