.profile {
    text-align: center;
}

.profileImage {
    width: 100px;
    border-radius: 50px;
    border: 2px solid #515751;
    margin: 2rem auto 0;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .1);
}

.title {
    margin: 12px 0;
}

.socialIconsContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;

    img {
        width: 2.5rem;
        border-radius: 2.5rem / 2;
        margin: 12px;
    }
}
